
table {
  border-spacing: 0px 0px;
  border-collapse: separate;
  margin-top: 12px;
}
td, th {
  padding: 4px 12px;
  vertical-align: top;
}
td {
  border-top: 1px solid #555;
  padding-top: 10px;
}
tr:last-child td{
  border-bottom: 1px solid #555;
}
th {
  background: #AAA;
  text-align: left;
}
tr:nth-child(even) {
  background: #EEE;
}
